<%- include('../mixins/head.ejs') %>

<body>
    <%- include('../mixins/nav.ejs') %>

    <div class="container">
        <div class="columns is-multiline">

            <% if(prods.length > 0) { %>

            <% for (let product of prods ) { %>

            <div class="column m-4 is-one-quarter is-inline-block">
                <div class="card">
                    <div class="card-header">
                        <p class="card-header-title is-centered"><%= product.productdata.title %></p>
                    </div>
                    <div class="card-image mb-0">
                        <figure class="image">
                            <img src="https://media.istockphoto.com/photos/farms-the-source-of-all-food-picture-id1303739157?b=1&k=20&m=1303739157&s=170667a&w=0&h=-Sy_PQcmcaDgvH1H5jEZi4Zoopuxem8dTBtXzvJW_xg=" alt="" srcset="">
                        </figure>
                    </div>

                    <div class="card-content p-2 has-text-centered">

                        <p class=" is-6 has-text-centered has-text-weight-bold">
                            <%= (product.productdata.price* product.count) %> $
                        </p>

                        <!-- 
                        <form class="form is-inline-block" action="/admin/edit-product/<%=product.uuid%>" method="POST">
                            <button type="submit" class="button is-primary is-active m-1 is-inline-block "></button>

                        </form> -->

                        <input type="number" name="count" id="">

                        <form class="form is-inline-block" action="/admin/delete-product/<%=product.uuid%>" method="POST">
                            <button type="submit" class="button is-primary is-active m-1 is-inline-block ">Delete</button>

                        </form>
                        <!-- <a href="/admin/delete-product" class="button is-primary is-active m-1 is-inline-block ">Delete</a> -->

                    </div>


                </div>
            </div>
            <% } %>

        </div>


        <div class="columns is-flex is-justify-content-center">
            <div class="column is-4 mt-6 has-background-dark has-text-centered ">
                <button type="submit" class="button is-primary mb-1 is-inline-block is-fullwidth">clear cart</button>
                <button type="submit" class="button is-danger is-light  is-inline-block is-fullwidth">update the cart</button>
            </div>
        </div>




        <% } else {%>
        <h1>nothing here</h1>
        <%}%>


          



   </div>



            <%- include('../mixins/footer.ejs') %>