<%- include('../mixins/head.ejs') %>


<body>


    <%- include('../mixins/nav.ejs') %>




    <div class="container">


        <div class="columns is-flex is-justify-content-center">
            <div class="column is-4">
                <form action="/admin/edit-product" class="form has-text-centered" method="POST">

                    <input type="hidden" name="uuid" value="<%=productdata.uuid%>">


                    <h1 class="is-size-4 has-text-weight-bold mt-4 mb-4" style="text-align: center;">
                        Edit the existing products here
                    </h1>

                    <div class="field has-text-left">
                        <label class="label">Title</label>
                        <div class="control">
                            <input class="input" type="text" name='title' value="<%= productdata.title %>">
                        </div>
                    </div>

                    <div class="field has-text-left">
                        <label class="label">Price</label>
                        <div class="control">
                            <input class="input" type="text" name='price' value="<%= productdata.price %>">
                        </div>
                    </div>

                    <div class="field has-text-left">
                        <label class="label">Imageurl</label>
                        <div class="control">
                            <input class="input" type="text" name='imageurl' value="<%= productdata.imageurl %>">
                        </div>
                    </div>

                    <div class="field has-text-left">
                        <label class="label">Description</label>
                        <div class="control">
                            <textarea class="textarea" name="description" placeholder="Description of the product"> <%= productdata.description %> </textarea>

                            <!-- <input class="input" type="text" name='description' value="<%= productdata.description %>"> -->
                        </div>
                    </div>



                    <button class="button is-dark m-5 is-inline-block" type="submit">Submit</button>


                </form>

            </div>
        </div>


    </div>







    <%- include('../mixins/footer.ejs') %>